<form method="POST" action="/artists">
  <div>
    <label>Artist Name</lable>
    <input type="text" name="name" />
  </div>
  
  <div>
    <label>Artist Genre</lable>
    <input type="text" name="genre" />
  </div>
  <input type="submit" />
</form>